* *{
    margin: 0;
    padding: 0;  
  }
  body{
   font-family:sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #ccc;  
  }
  .main-content{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .logo{
    margin-left: 25px; 
    color: #000030;
  }
  .logo .N{
  font-stretch: narrower;  
  }
  .logo .A{
    font-size: 50px;
    font-weight: bold;
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px; 
  }
  .menu ul li {
    margin-right: 50px;
    list-style: none;
    padding: 10px 20px 10px 15px; 
    border-radius: 4px; 
  
  }
  .menu ul li a{
    text-decoration: none;
    color: #000030;
  }
  .menu ul li.active a{
    color: white;
    padding: 10px 20px 10px 15px; 
    background-color:  #000030;
    border-radius: 4px;
  }
  .menu ul li:hover{
    background-color:  #000030;
    color: white;
  }
  .menu a:hover{
  color:white
  }
  .introduce{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 50px;
  
    /* margin: 0px 0px 0px 0px; */
  }
  .intro-paragraph span p{
    background:  #000100;
    padding: 10px 20px 10px 10px;
    color: white;
    margin-left: 0px;
    border-radius: 10px 1650px 120px 10px;
    text-transform: uppercase;
  }
  .intro-paragraph p{
    width: 600px;
  font-size: 15px;
  line-height: 20px;
  text-transform: lowercase;
  color: #000030;
  word-spacing: 0.2rem;
  padding-top: 15px;
  
  }
  .owner-img{
    border-color:1px solid #000030;
  }
  .owner-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  
  }
  
  .articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 25px;
    margin-top: 50px;
    color: #000030;
  }
  .all-articles{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-articles img{
    width: 250px;
    height: 250px;
  }
  .main-articles{
   display: flex;
   margin-left: 100px;
   justify-content: center;
  }
  .main-articles p{
    display: flex;
  }

  /* .classic{
    margin-right: 5px;
  }  */
  .send-question{
  display: flex;
  justify-content: center;
  }
  .say-hello{
   border:1px solid #000030; 
   padding: 40px 40px 40px 40px;
   margin-bottom: 30px;
  }
  .join-link{
    display: flex;
    align-items: center;
    
  }
  .say-hello-btn{
    color: white;
    padding: 10px 25px 10px 10px;
    border-radius: 10px;
    background-color: #000030;
    border: none;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .ending-description{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   margin-left: 25px;
   margin-right: 50px;
  }
  a{
    color:#000030;
  }
  p{
    color: #000030;
  }
  .likes{
  color: #FF0000;  
  }
  #about-page{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  .main2-content{
   /* width:100%; */
   height:100vh;
   display: flex; 
   justify-content:space-between;
   align-items: center;
   margin-left: 25px;
   margin-right: 50px;
  }
  .about-me{
  margin-top: 50px;
  margin-left: 25px; 
  font-size: small;
  }
  .about-me p{
    line-height: 30px;
    word-spacing: 0.5rem;
  }
  .about-img img{
  height: 500px;
  width:50vw;
  border-radius:10px;
  }
  
  .about-me h4{
    margin-top: 20px;
  }
  .head1{
    margin-left:145px;
    margin-top: 130px;

  }
  form{
    margin-left:25px;
    margin-right: 25px;
    padding: 20px;
  }
  .contact-form input,textarea{
    width: 100%;
  padding: 8px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #000030;
  
  }
  textarea{
    display: flex;
  }
  label{
    color:#000030 ;
    /* opacity: 70%; */
    display:block;
    font-size: 15px;
    margin-top: 20px;
  }
  .main3-content{
    display:flex;
    justify-content: space-between;
  }
  .contact-form button{
    margin-top: 10px;
   padding: 5px 30px 5px 5px; 
   font-size: 15px;
   background-color: #000030;
   border-radius: 5px;
   color:white;
   cursor: pointer;
  }
  .contact-form button:hover{
 background-color: white;
 color: #000030;
  }
.contact-form button:focus{
    background: green;
    color: #fff;
}
.contact-form{
    border: 2px solid #000030;
    margin-left: 145px;
    background-color:#fff;
    padding: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 9px 0px;
    
}
.contact-info{
margin-right: 170px;
width: 40%;
padding: 10px;
}
.like-comment-share{
display: flex;
/* justify-content: space-between; */
width: 100%; 
}
.like-comment-share img{
margin-right: 40px;
  width: 28px;
  height: 28px;
  margin-top: 10px;
  cursor: pointer;
}
.like-comment-share p{
display: flex;
flex-direction: row;
}
.like-share-comment-p{
  display: flex;
  flex-direction: row;
}
.like-share-comment-p p{
  margin-right: 20px;
  margin-top: 10px;
  font-size: 13px;
}
.whatsapp-facebook{
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp-facebook img{
margin-right: 50px;
}
.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form form input{
padding: 10px;
width: 100%;
margin-top: 5px;
border-radius: 3px;
border: 1px solid #000030;
}
.login-content p{
line-height: 70px;
}
.login-form form button{
padding: 10px;
font-size: 15px;
width: 100%;
background-color: #000030;
color:white;
border-radius: 5px;
margin-top: 10px;
margin-left: 10px;
}
.login-page{
  border: 1px solid #000030;
  width: 600px;
  height: 500px;
  margin-left: 300px;
  margin-top: 20px;
  padding-left: 20px;
}
.login-form form button:hover{
background-color: white;  
color: #000030;
cursor: pointer;
}
.login-form form button:focus{
  background-color: green;
  color: white;
}
.signup-page{
 margin-left: 300px; 
 margin-top: 100px;
 display: flex;
 align-items: center;
}
.signup-form form button{
  padding: 10px;
  font-size: 15px;
  background-color: #000030;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
  }
  .signup-form form button:hover{
    background-color: white;  
    color: #000030;
    cursor: pointer;
  }
  .signup-form form button:focus{
    background-color: green;
    color: white;
  }
  .signup-form form input{
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #000030;
    width: 300px;
    }
    .signup-content p{
    word-spacing: 0.1rem;
    color: rgb(9, 0, 128,0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .skills-icon{
      width: 700px;
      display: block;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-top: 20px;
     
      
    }
    .skills-icon img{
    width: 100px;
    height: 100px; 
    margin-right: 20px;
    margin-top: 20px;
    }
    .skill-content p{
      line-height: 20px;
      word-spacing: 5px;
    }
    .skill-page{
      display: flex;
      margin-left: 25px;
      font-size: small;
      margin-top: 70px;
      /* padding: 30px; */
    }
    .skills-content img{
      border-radius: 5px; 
      width: 500px;
      height: 500px;
    }
    .skills-discrpt{
      margin-top: 20px;
    }
    .portifolio{
     background-color: #fff;
     padding: 100px;
     width: 50%;
     margin-left: 255px;
     margin-top: 30px;
     justify-items: center;
     border-radius: 5px;
     box-shadow: 0px 3px 5px 0px;

    }
    .portifolio-img{
      display:flex;
    }
    .portifolio-img p{
      margin-bottom: 10px;
    }

    .portifolio-img img{
      width: 200px;
      height: 200px;
      border-radius: 5px;
      margin-right: 50px;
    }
    .portifolio-img p{
     font-size: small;
    }
    .main-portifolio h3{
      text-align: center;
      font-style: italic;

    }
    .all-blogs-content{
     display: grid;
     grid-template-columns: repeat(2, 400px);
    grid-gap: 100px;
     

     
    }
    .all-blogs{
      margin-left: 180px;
      margin-top: 50px;
      width: 1000px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 3px 5px 0px;
      padding: 20px;
    }
    .owner-blog img{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     margin-left: 25px;
     margin-top: 40px;
    }
    /* .blog-img{
      width: 100px;
      height: 100px;
    } */

